@charset "utf-8";
// 帮助
#gome-help{
    width:$width1200;
    margin:30px auto 0;
    // 品质，低价，速达
    ul{
        background:#f5f5f5;
        padding:15px 0;
        @include clearfix();
         li{
            position: relative;
            float: left;
            width:33%;
            text-align: center;
        }
        i{
            @include icons3(40px,42px,0,-1469px);
            margin-right:10px;
        }
        a{
            font-size:$font-size-18;
            line-height:40px;
            color:#404040;
            @include a-changecolor();
        }
        a:nth-of-type(1){
            font-weight: bold;
        }
        span{
            margin:0 16px;
            @include icons3(3px,10px,-120px,-1489px);
        }
    }
    // 物流配送，支付与账户等
    .gm-help-box{
        width:110%;
        margin-left:-5%;
        @include clearfix();
        dl{
            float: left;
            width:9%;
            padding:15px 0 0 125px;
        }
        dt{
            font-size:$font-size-16;
            color:#5e5e5e;
            line-height:25px;
        }
        dd{
            line-height:20px;
        }
        a{
            color:#a5a5a5;
            @include a-changecolor();  
        }
    }
}
// footer
#gome-footer{
    margin-top:15px;
    border-top:1px solid #dd00a7;
    background:#f7f7f7;
    .gm-footer-box{
        position: relative;
        width:$width1200;
        margin:0 auto;
        padding:20px 0 0;
        background: #f7f7f7;
        ul{
            @include clearfix();
        }
        li{
            float: left;
            padding-right:13px;
        }
        li:nth-of-type(5),li:nth-of-type(12){
            color:#ccc;
        }
        a{
            color:#666;
            @include a-changecolor();
        }
        // 门店用户、用户体验
        span{
            display: inline-block;
            padding:0 50px 40px 0;
            @include clearfix();
            p{
                float: left;
                margin-left:10px;
                
            }
            em{
                display: block;
                color:#333;
                font-size:$font-size-16;
                line-height:25px;
            }
            i{
                float: left;
                @include icons3(45px,45px,0,-135px);
            }
        }     
        span:nth-of-type(2) i{
            background-position:-45px -135px;
        }
        
    }
    // 二维码
    .qrcode-section{
        position: absolute;
        top:15px;
        right:-10px;
        .code-sm{
            position: relative;
            width:50px; 
            &:hover div{
                display:block;
            } 
        }
        em{
            display:inline-block;
            vertical-align: top;
            text-align: center;
            margin:0 10px;
        }
        // 公众号
        .wx i{
            @include icons3(40px,25px,-105px,-135px);
        }
        // 手机站点
        .web i{
            @include icons3(40px,25px,-185px,-135px);
        }
        .code-sm .icon-triangle{
            @include icons2(13px,8px,100%,68px,-67px, -127px);
        }
        .code-sm div{
            position: absolute;
            left:-50px;
            bottom:54px;
            z-index:99;
            padding:10px;
            border:1px solid #eee;
            display:$none;
            background: #fff;
            
        }    
        // 扫描下载app
        .app{
            width:110px;
        }
        a{
            display: inline-block;
        }
        p{
            line-height:$line-height-22;
        }
    }
    // footer最下面一排图标
    .gm-footer-credit{
        border-top:1px solid #e6e6e6;
        margin-top:5px;
        padding:10px 0 25px;
        overflow:hidden;
        b{
            float: left;
            display: block;
            width:60px;
            padding:0 30px 0 5px;
            color:#999;
            line-height:$line-height-18;
            font-weight: normal;
        }
        a:nth-of-type(3) b,a:nth-of-type(5) b{
            padding-top:9px;
        }
        a:nth-of-type(4) b{
            width:50px;
        }
        a:nth-of-type(6) b{
            width:110px;
        }
        i{
            float: left;
            @include icons3(35px,35px,0,-180px);
        }
        .f-icon1{
            background-position:-35px -180px;
        }
        .f-icon2{
            background-position:-70px -180px;
        }
        .f-icon3{
            background-position:-105px -180px;
        }
        .f-icon4{
            background-position:-140px -180px;
        }
        .f-icon5{
            background-position:-175px -180px;
        }
    }
}
// 固定栏
#gome-bar{
    position: fixed;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    z-index: 999;
    background:#5c5c5c;
    .gm-bar-top,.gm-bar-bot{
        b{
            @include icons2(7px,11px,14px,0,-47px,-464px);
        }
        li{
            position: relative;
            height:38px;
            &:hover{
                background:#343434;
            }
        }
        .hidebox{
            display:$none;
            position: absolute;
            right: 0;
            top: 0;
            width: 60px;
            height: 18px;
            padding: 9px 10px;
            line-height: 18px;
            border: 1px solid #e6e6e6;
            color: #999;
            background: #fff;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            overflow: hidden;
            z-index: -1;
            // transition:all .3s;
        }
        li:hover .hidebox{
            display:block;
            border-right:0;
            right:35px;
        }
        li:hover b{
            background-position:-40px -464px;
        }
    }
    .gm-bar-top{
        position:absolute;
        top:15px;
        right:0;
        text-align: center;
        li{
            background:url("https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/uiline.png") no-repeat center bottom;
        }
        .gm-bar-member,.gm-bar-collect,.gm-bar-cart{
            position: relative;
            height: 39px;
            line-height: 39px;
            cursor: pointer;
            i{
                margin-left:5px;
                @include icons3(28px,18px,-18px,-1025px);
            }
        }
        // 我的收藏
        .gm-bar-collect{
            i{
                background-position:-71px -1023px;
            }
        }
        // 购物车
        .gm-bar-cart{
            height: 90px;
            padding-top: 30px;
            i{
                @include icons3(31px,20px,-24px,-1046px);
                margin:0 4px 3px 0;
                display:block;
            }
            em{
                display:inline-block;
                position: absolute;
                top:16px;
                left:14px;
                width:18px;
                height:16px;
                color:#fff;
                background:#a5a5a5;
                .num{
                    position:absolute;
                    top:0;
                    left:6px;
                    font-weight:400;
                    line-height:16px;
                }
                .point{
                    @include icons2(5px,6px,14px,6px,0,-1087px);
                }
            }
            .text{
                width: 12px;
                display: inline-block;
                color: #fff;
                line-height:18px;
            }
        }
    }
    .gm-bar-bot{
        position: absolute;
        bottom:35px;
        right: 0;
        width: 35px;
        font-size: 12px;
        color: #999;
        z-index: 999;
        .gm-bar-qrcode,.gm-bar-survey,.gm-bar-service,.gm-bar-up{
            position: relative;
            height: 38px;
            text-align: center;
            i{
                @include icons3(20px,20px,-212px,-473px);
            }
        }
        // 二维码
        .gm-bar-qrcode{
            margin-top:5px;
            .hidebox{
                width: 140px;
                height: 180px;
                padding:0;
                border:0;
            }
        }
        // 有奖调研
        .gm-bar-survey{
            i{
                background-position:-212px -493px;
            }
        }
        // 在线客服
        .gm-bar-service{
            i{
                background-position:-212px -513px;
            }
        }
        // 返回顶部
        .gm-bar-up{
            i{
                background-position:-212px -533px;
            }
        }
        .qrcode,.up,.service,.survey{
            position: relative;
            display: inline-block;
            width: 100%;
            height: 20px;
            padding: 9px 0;
            color: #999;
            overflow: hidden;
            cursor: pointer;
            z-index: 2;
            i{
                vertical-align: baseline;
            }
        }
    }
}