@charset "utf-8";
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: $none;
}
li{
    list-style: $none;
}
em,i{
    font-style:normal;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
img{
    display: block;
}
body{
    font-size: $font-size-12;
    font-family: $font-family;
    line-height:$line-height-24;
    color:$body-color;
}
// 顶部广告图
#top-banner{
    background:rgb(183, 11, 1);
    .wrap{
        width:$width1200;
        margin:0 auto;
    }
    img{
        display:block;
    }
    span{
        @include icons1(12px,12px,10px,175px,-60px,-466px);
        text-indent: -9999px;
        cursor:pointer;
    }
}
// 头部菜单栏
#gome-topmenu{
    height:30px;
    background:#f8f8f8;
    border-bottom:1px solid #f3f3f3;
    // 居中的盒子  
    .wrap{
        width:$width1200;
        margin:0 auto;
    }
    // 所有的li左浮动
    li{
        float:left;
    } 
    // 下拉内容
    .public_dropdown{
        display: none;
        position: absolute;
        top:30px;
        border:1px solid #e6e6e6;
        overflow: hidden;
        background:#fff;
    } 
    // 滑过li出现相应的下拉内容
    .drop:hover .public_dropdown{
        display: block;
        z-index:9;
    }
    // li下的span项改变背景颜色
    .drop:hover span{
        border-color:#e6e6e6;
        background:#fff;
        z-index:10;
    }
}
// 左菜单
.menu-left{
    // 所有a的颜色一致
    a{
        color:$body-color;
        @include a-changecolor();
    }
    float: left;  
    // 左菜单下的国美会员
    .gome-vip{
        position: relative;
        margin-right:12px;
        line-height:$line-height-30;
        span{
            position:relative;
            display:block;
            padding:0 20px 0 10px;
            border:1px solid #f8f8f8;
            border-bottom:0;
            // 小图标
            i{
                @include icons1(7px ,4px ,12px ,8px ,-62px,-433px );
            }
        }
        // 滑过国美会员li，更改小图标
        &:hover i{
            background-position:-55px -433px;
        }
    }
    // 登录
    .login{
        margin-right:6px;
        line-height:32px;
        color:#888;
    }
    // 注册
    .reg{
        position: relative;
        color:$font-color;
        i{
            @include icons1(12px,13px,0,-17px,-145px,-1496px);
        }
    }                  
}
// 右菜单
.menu-right{
    float:right;
    // 所有a的颜色一致
    a{
        color:$body-color;
        @include a-changecolor();
    }
    li{
        position: relative;
        &:hover i{
            background-position:-55px -433px;
        }
    }
    span{
        position:relative;
        display:block;
        padding:0 20px 0 10px;
        border:1px solid #f8f8f8;
        border-bottom:0;
        a{
            line-height:$line-height-32;
        }
    }
    i{
        @include icons1(7px ,4px ,13px ,8px ,-62px,-433px );
    }
    // 服务中心和手机国美--字体图标
    em{
        font-size: 17px;
        color: #dd00a7;
        background: 0 0;
        line-height:$line-height-30;
        height: 30px;
        top: 0;
    }
    // 我的订单
    .gome-link{
        margin-right:10px;
        a{
            line-height:$line-height-32;
        }
    }
}
// 各菜单项的下拉内容
// 国美会员
.gome-vip{
    .public_dropdown{
        width:290px;
        left:0;
        padding:10px 15px;
    }
    .vip-name{
        @include clearfix();
        padding:5px 0 20px;
        em{
            float: left;
            @include icons3(55px,55px,0,-337px);
            border-radius: 50px;
        }
        div:nth-of-type(1){
            float: left;
            width:220px;
            padding-left:15px;
        }
        p{
            margin-top:15px;
            a{
                color:#069;
            }
        }       
    }
    .vip-icon{
        position: relative;
        padding-top:15px;
        border-top:1px solid #f3f3f3;
        p{
            line-height:$line-height-18;
            color:#333;
            a{
                float: right;
                color:#ccc;
                @include a-changecolor();
            }
        }
        div{
            position: relative;
            width:240px;
            height:70px;
            margin:10px 25px 0;
            left:0;
            overflow:hidden;
            z-index: 2;
        }
        ul{
            position: absolute;
            left:0;
            top:0;
            width:720px;
        }
        li{
            width:80px;
            height:70px;
            text-align: center;
        }
        i{
            display: block;
            height:40px;
            color:#ccc;
            line-height:40px;
            font-size:40px;
            &:hover{
                color:#888;
            }
        }
        .vip-icon-prev{
            @include icons2(16px,29px,54px,0,-60px,-357px);
            &:hover{
                background-position:-60px -513px;
            }
        }
        .vip-icon-next{
            @include icons1(16px,29px,54px,0,-76px,-357px);
            &:hover{
                background-position:-76px -513px;
            }
        }
    }
}
// 我的国美
.gome-mygome{
    .public_dropdown{     
        width:260px;
        left:0;
        strong{
            display: block;
            padding:10px 10px 0;
            a{
                line-height: $line-height-24;
                color:#069;        
            }
        }
        .mygome-order{
            @include clearfix();
            padding:0 0 9px;
            margin:0 10px;
            border-bottom:1px solid #f3f3f3;
            li{
                float: left;
                width:50%;
                height:25px;
                line-height: 25px;
            }
        }
        .mygome-coupon{
            @include clearfix();
            li{
                width:63px;
                text-align: center;
                padding:8px 0 10px;
            }
            a{
                display: block;
                line-height: 14px;
                margin: 5px 0;
                border-right: 1px solid #f3f3f3; 
            }
            b{
                display:inline-block;
                width:100%;
                color:#cdcdcd;
                vertical-align:middle;
                white-space:nowrap;
                text-overflow:ellipsis;
                overflow:hidden;
            }
              
        }
        p{
            padding:10px;
            background:#f8f8f8;
            overflow: hidden;
        }
        .mygome-track{
            @include clearfix();
            height:50px;
            padding:0 0 18px 10px;
            background:#f8f8f8;
            li{
                @include icons3(50px,50px,0,-397px);
                margin:0 12px 10px 0;
            }
        } 
    }
}
// 企业采购
.gome-enterprise{
    .public_dropdown{
        right:0;
        width:200px;
        a{
            @include icons3(200px,200px,0,-1511px);
        }
    }
}
// 服务中心
.gome-service{
    .public_dropdown{
        width:210px;
        left:0;
        padding:15px;
        ul{
            height:48px;
            padding-bottom:10px;
            overflow: hidden;
        }
        li{
            width:33%;
            height:24px;
            &:hover a{
                color:$font-color;
            }
        }
        p{
            font-weight:700;
        }
        .online{
            display: block;
            height:25px;
            line-height:25px;
            background:#dd00a7;
            text-align: center;
        }
    }
}
#gome-topmenu .online{
    color:#fff;
    em{
        margin-right:10px;
        font-size:19px;
        color:#fff;
        line-height:25px;
    }
}
// 网站导航
// 让网站导航下拉内容的li不浮动
#gome-topmenu dd li{
    float:none;
}
.gome-sitemap{
    .public_dropdown{
        right:-98px;
        width:1198px;
        padding:10px 0;
        @include clearfix();
        dl{
            float: left;
            padding:0 15px 0 40px;
            margin:10px 0;
            border-left:1px solid #f3f3f3;
        }
        dl:nth-of-type(5){
            border-left:0;
        }
        dt{
            color:#5e5e5e;
            font-size:14px;
            margin-bottom:10px;
            font-weight:700;
        }
        dd{
            @include clearfix();
            height:120px;
        }
        ul{
            float: left;
            width:75px;
        }
        .hot{
            @include icons1(11px,14px,1px,14px,0,-452px);
        }
        .new{
            @include icons1(11px,14px,1px,38px,-20px,-452px);
        }
    }  
}
// 手机国美
.gome-phone{
    .public_dropdown{
        right:0;
        width:130px;
        padding:10px 15px;
        a{
            @include icons3(130px,170px,0,-799px);
        }
    }
}
// gome-head
#gome-head{
    position: relative;
    width:$width1200;
    height:120px;
    margin:0 auto;
    @include clearfix();
    .gm-logo{
        position: absolute;
        left:0;
        width:125px;
        margin:32px 10px 0 0;
        a{
            @include icons3(125px,56px,0,0,"https://css.gomein.net.cn/gmpro/1.0.0/public/1.0.0/css/i/logo.png");
            text-indent: -999px;
            overflow: hidden;
        }
    }
    .gm-logo-gif{
        position: absolute;
        left:135px;
        width:100px;
        margin:35px 0 0 10px;
    }
}
// gome-category--类别
#gome-category{
    .wrap{
        width:$width1200;
        height:40px;
        margin:0 auto;
    }
    border-bottom: 1px solid #dd00a7;
    background: #f8f8f8;
}