@charset "UTF-8"; //双引号
@import 'variable';
@import 'footer';
body{
    font-family:Arial,simsun;
}
// 遮罩
#mask{
    display:none;
    height:$per;
    width:$per;
    background:rgba(0,0,0,0.05);
    position:absolute;
    left:0;
    top:0;
}
// 服务协议
#agreement{
    display:none;
    width:890px;
    height:535px;
    padding:16px 35px 0 35px;
    background:#fff;
    position:absolute;
    border:1px solid #eee;
    box-shadow:0 0 8px rgba(0,0,0,0.1);
    box-sizing:border-box;
    z-index:2;
    h4{
        padding:7px 0;
        color:#000;
        font-size:$font-size-16;
        font-weight:normal;
        text-align:center;
    }
    .txt p{
        font-size:$font-size-12;
        color:#585858;
        line-height:$line-height-24;
    }
    .txt b{
        font-size:$font-size-12;
    }
    // 三个服务协议
    .gome_agree{
        padding-top:15px;
    }
    .gome_agree a{
        display:inline-block;
        padding-bottom:5px;
        font-size:13px;
        color:#2875cc;
    }
    .gome_agree div{
        width:795px;
        height:75px;
        padding:0 14px 0 9px;
        color:#333;
        border:1px solid #e6e6e6;
        line-height:$line-height-24;
        overflow-y:scroll;
    }
    // 同意和不同意按钮
    a:hover{
        background:#f20c59;
        color:#fff;
    }
    .no, .yes{
        display:inline-block;
        height:30px;
        padding:0 15px;
        margin-top:20px;
        font-size:$font-size-14;
        color:#5a6066;
        line-height:$line-height-30;
        border:1px solid #cacccf;
        border-radius:5px;
        cursor:pointer;
    }
    .no{
        margin-left:308px;
    }
    .yes{
        margin-left:15px;
        color:#f20c59;
        border:1px solid #f20c59;
    }
}
// logo
#logo{
    height:120px;
    vertical-align:middle;
    .wrap{ //居中的盒子
        width:$width990;
        margin:0 auto;
        padding-top:18px;
    }
    a{
        @include icons3(300px,62px,0,0,"https://misc.gomein.net.cn/images/regfront/register/registerlogo.png");
        margin-top:16px;
    }
}
// 注册信息
#register{
    width:$width990;
    margin:0 auto;
    .wrap{
        position: relative;
        margin-top:68px;
        padding-bottom:21px;
        border:1px solid #e6e6e6;
        background:url("https://gfs11.gomein.net.cn/T1E1VjB7YT1RCvBVdK.png") no-repeat scroll 580px -60px;
        .login-info{
            position: absolute;
            top:-25px;
            right:20px;
            a{
                margin-left:5px;
                color:#006699;
            }
        }
        .user-reg{
            position: absolute;
            top:-42px;
            left:149px;
            width:150px;
            height:40px;
            margin-left: 2px;
            font:bold 14px/41px "微软雅黑";
            color: #cc0000;
            text-align: center;
            background: #fff;
            border: 1px solid #e6e6e6;
            border-top:2px solid #cc0000;
            border-bottom:0;
            cursor: pointer;
        }
        
    }
}
// 注册表单
.formlists{
    padding-top:40px;
    .formlist{
        position: relative;
        padding:0 0 26px 151px;
        height:40px;
        .labelname{
            position: absolute;
            top:0;
            left:0;
            width:151px;
            height:38px;
            line-height:38px;
            font-size:$font-size-14;
            text-align: right;
        }
        input{
            position: relative;
            float: left;
            width:288px;
            height:36px;
            padding:0 4px;
            border:1px solid #ccc;
            line-height:36px;
            color:#a5a5a5;
            vertical-align: middle;
            outline:0;
        }
        // 提示框
        .msg-box{
            float: left;
            // width:370px;
            height:38px;
            margin-left:5px;
            overflow: hidden;
            .focus-box,.blur-box{
                display:$none;
                height:36px;
                border:1px solid #ccc;
                background-color:#fff;
                @include clearfix();
                label{
                    float: left;
                    height:36px;
                    line-height:36px;
                    margin:0 5px 0 5px;
                }
            }
            .blur-box{
                overflow: hidden;
                color:#ff5757;
            }
        }
        // 绿色的正确
        .correct{
            @include icons3(17px,17px,0,-20px,"https://misc.gomein.net.cn/images/regfront/register/register.png");     
        }
    }
    .formlist-btn{
        padding:15px 0;
        margin-top:-15px;
        input{
            display: block;
            width:298px;
            height:40px;
            margin:5px 0 0 151px;;
            font:16px/40px "微软雅黑";
            color:#fff;
            text-align: center;
            background-color:#ff5757;
            border:0;
            outline:0;
            cursor: pointer;
        }
    }
}
// footer
#gome-footer{
    background:#fff;
    border-top:0;
    .gm-footer-box{
        width:$width990;
        background:#fff;
        font-family:"微软雅黑";
        span,.qrcode-section{
            display:$none;
        }
    }
}