* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

em, i {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

img {
  display: block;
}

body {
  font-size: 12px;
  font-family: Arial, "Microsoft Yahei";
  line-height: 24px;
  color: #888;
}

#gm-head {
  width: 990px;
  height: 120px;
  margin: 0 auto;
  vertical-align: middle;
}
#gm-head .logo {
  float: left;
  margin: 18px 40px 0 0;
}
#gm-head .logo a {
  display: inline-block;
  width: 300px;
  height: 62px;
  margin-top: 13px;
  background: url("https://css.gomein.net.cn/images/regfront/register/loginlogo.png") no-repeat;
}

#gm-safetip {
  background-color: #fff4e3;
  border-top: 1px solid #fee6bc;
}
#gm-safetip .safetip {
  width: 828px;
  height: 29px;
  padding-left: 10px;
  margin: 0 auto;
  line-height: 29px;
  background-color: #fff4e3;
  color: #ff7f23;
}
#gm-safetip .safetip em {
  display: block;
  float: left;
  margin: 8px 5px 0 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: url("https://css.gomein.net.cn/images/loginfront/login/login-bg-common.png") no-repeat -28px 0;
}
#gm-safetip .safetip a {
  color: #2875cc;
}
#gm-safetip .safetip a:hover {
  text-decoration: underline;
}

#gm-content {
  background: #e30c36;
}
#gm-content .main {
  position: relative;
  width: 1200px;
  height: 480px;
  margin: 0 auto;
  background: url("https://gfs11.gomein.net.cn/T1Cp_gBsJv1RCvBVdK.jpg") no-repeat top center;
  z-index: 990;
}
#gm-content .main .opinion {
  position: absolute;
  right: 108px;
  top: -56px;
  height: 16px;
  line-height: 16px;
  font-family: simsun;
  color: #888;
  z-index: 990;
}
#gm-content .main .opinion i {
  margin-right: 8px;
  padding-bottom: 2px;
  display: inline-block;
  width: 15px;
  height: 16px;
  vertical-align: middle;
  background: url("https://css.gomein.net.cn/images/loginfront/login/login-bg-common.png") no-repeat 0 -257px;
}

.login-box {
  position: relative;
  float: right;
  width: 350px;
  margin-top: 24px;
  margin-right: 105px;
  background: #fff;
  overflow: visible;
}
.login-box .login-type {
  position: relative;
  height: 54px;
}
.login-box .login-type .logintab {
  float: left;
  width: 350px;
  height: 54px;
  line-height: 54px;
  font-size: 18px;
  color: #5e5e5e;
  text-align: center;
  border-bottom: 1px solid #f4f4f4;
}
.login-box .login-type .logintab a {
  display: block;
  width: 99%;
  height: 54px;
  line-height: 54px;
  color: #e3101e;
}
.login-box .loginbox {
  padding: 25px 11px 0 19px;
}
.login-box .loginbox .login-wrap {
  position: relative;
  width: 300px;
  padding: 5px 10px 0;
}

.name, .pass {
  position: relative;
  height: 52px;
}
.name input, .pass input {
  position: relative;
  width: 268px;
  height: 25px;
  padding: 8px 10px 7px;
  line-height: 21px;
  font-size: 14px;
  font-family: Arial,simsun;
  color: #333;
  border: 1px solid #a5a5a5;
  outline: 0;
  z-index: 2;
}

.remember {
  padding: 10px 0 12px;
}
.remember:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.remember .remember-left {
  float: left;
  line-height: 18px;
}
.remember .remember-left input {
  float: left;
  margin-right: 4px;
  margin-top: 3px;
}
.remember .remember-left label {
  float: left;
  color: #5e5e5e;
  line-height: 18px;
}
.remember .remember-right {
  float: right;
  width: 120px;
  line-height: 18px;
  color: #ccc;
}
.remember .remember-right a {
  color: #5e5e5e;
}
.remember .remember-right a:hover {
  text-decoration: underline;
}
.remember .remember-right a:nth-of-type(1):hover {
  color: #f5004b;
}
.remember .remember-right a:nth-of-type(2) {
  color: #2875cc;
}

.login-btn input {
  display: block;
  width: 290px;
  height: 42px;
  background: #ff5757;
  color: #fff;
  text-align: center;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.quicklogin {
  padding: 30px 0 15px;
}
.quicklogin a {
  color: #2875cc;
}
.quicklogin a:hover {
  text-decoration: underline;
}

.corp-login {
  position: relative;
  padding: 9px 20px;
  color: #a5a5a5;
  background-color: #fcfcfc;
  border: 1px solid #f0f0f0;
  overflow: hidden;
}
.corp-login .play-icon {
  width: 300px;
}
.corp-login .play-icon a {
  float: left;
  padding: 0 8px;
  margin: 6px 0;
  line-height: 18px;
  color: #5e5e5e;
  cursor: pointer;
}
.corp-login .play-icon .borderline {
  border-right: 1px solid #e6e6e6;
}
.corp-login .hide {
  display: none;
}
.corp-login .show {
  display: block;
}
.corp-login .more {
  display: block;
  position: absolute;
  top: 14px;
  right: 20px;
  width: 19px;
  height: 19px;
  background: url("https://css.gomein.net.cn/images/loginfront/login/login-bg-common.png") no-repeat 0 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=login.css.map */
